
<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
    <img src="../assets/img/favicon.png" width="28" height="28"
      class="d-inline-block align-top" alt="">
    Roulette
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/play" routerLinkActive="active">PLAY NOW</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!authScv.loggedIn()" routerLink="/login" routerLinkActive="active">LOGIN</a>
        <a class="nav-link" *ngIf="authScv.loggedIn()" style="cursor: pointer;" (click)="authScv.logOut()">LOGOUT</a>
    </ul>
  </div>
</nav>    
<div class="container">
  <br><br><br>
  <router-outlet></router-outlet>            
</div>