<div class="card">
    <div class="card-header" style="text-align: center;">
        <h1><b>WELCOME TO ROULETTE ONLINE CASINO</b></h1>
    </div>
    <div class="card-body">
        <br>
        <h4 class="card-title">What is Roulette?</h4>
        <p class="card-text">Roulette is a casino game named after the French word meaning little wheel. In the game,
            players may choose to place bets on either a single number, various groupings of numbers, the colors red or
            black, whether the number is odd or even, or if the numbers are high (19–36) or low (1–18).

            To determine the winning number and color, a croupier spins a wheel in one direction, then spins a ball in
            the opposite direction around a tilted circular track running around the outer edge of the wheel. The ball
            eventually loses momentum, passes through an area of deflectors, and falls onto the wheel and into one of 37
            (single zero French/European style roulette) or 38 (double zero American style roulette) colored and
            numbered pockets on the wheel. The winnings are then paid to anyone who has placed a successful bet.</p>
        <br>
        <h4 class="card-title">Game Rules : </h4>
        <ol>
            <li>
                The player can bet on one or more of the following options with following return rules in winning
                scenario.
                <br>
                <table class="table table-sm" style="margin-top: 2em; text-align: center;">
                    <thead class="thead-light">
                        <tr>

                            <th scope="col">Betting Option</th>
                            <th scope="col">Winning Return</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1st 12</td>
                            <td>1.5 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>2nd 12</td>
                            <td>1.5 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>3rd 12</td>
                            <td>1.5 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>0</td>
                            <td>10 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>1 - 18</td>
                            <td>1.25 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>19 - 36</td>
                            <td>1.25 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>Even</td>
                            <td>1.25 times of bet amount</td>
                        </tr>
                        <tr>

                            <td>Odd</td>
                            <td>1.25 times of bet amount</td>
                        </tr>

                    </tbody>
                </table>
            </li>
            <li>
                The minimum and maximum betting amount for any option is 500 coins & 10,000 coins.
            </li>
            <li>
                The betting amount will be in multiple of 500’s only.
            </li>
        </ol>

        <div style="text-align: center;">
            <a class="nav-link" routerLink="/play" routerLinkActive="active" class="btn btn-success btn-lg">Start
                Playing</a>
        </div>
    </div>
</div>